#p{
    size: 40px;
}

.submission{
    background-color: #141414; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 16px;
    padding-bottom: 10px;
    margin-bottom: 0; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the container behave like an inline element */
    font-size: 13px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 8px; /* Rounded corners */
}

.backarr{
    left:-5px;
    top:15px;
    width:50px;
    height: 50px;
    padding: 0;
    
    position: absolute;
}

.sign{

    margin-top: 0px;
}
